<div class="crud-title">
  <h1>Crud de usuarios</h1>
  <div class="container">
    <input type="text" name="" id="" placeholder="Nombre" class="input-agregar">
    <input type="text" name="" id="" placeholder="Password" class="input-agregar">
    <input type="text" name="" id="" placeholder="Rol" class="input-agregar">
  </div>
  <button>Agregar</button>
</div>


<div *ngIf="users.length > 0; else noProducts" style="padding-top: 70px;" class="lista">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Password</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users; let last = last" class="cuerpo">
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.rol }}</td>
          <td>
            <button class="btn btn-warning btn-sm" style="margin: 10px;">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Eliminar</button>
          </td>
        </tr>
        
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #noProducts>
  <p>No hay usuarios disponibles.</p>
</ng-template>


<label for="userId">Usuario:</label>
<input type="number" id="userId" name="userId" #userId><br><br>
<button (click)="deleteUser(userId.valueAsNumber)">Eliminar</button>
  
<form (submit)="createUser(name.value, password.value, rol.value)">
  <div>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" #name required>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" #password required>
  </div>
  <div>
    <label for="rol">Rol:</label>
    <input type="text" id="rol" name="rol" #rol required>
  </div>
  <button type="submit">Crear Usuario</button>
</form>

<ng-template #noProducts>
  <p>No hay productos disponibles.</p>
</ng-template>

  