<div class="crud-title">
  <h1>Crud de usuarios</h1>
  <div class="container">
    <input type="text" name="name" id="name" placeholder="Nombre" class="input-agregar" [(ngModel)]="newUser.name" required>
    <input type="password" name="password" id="password" placeholder="Password" class="input-agregar" [(ngModel)]="newUser.password" required>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="rol" style="max-width: 70%; margin: auto;" id="rol" [(ngModel)]="newUser.rol" required>
      <option value="" disabled selected>Selecciona Rol</option>
      <option value="VENDEDOR">VENDEDOR</option>
      <option value="BODEGUERO">BOGUERO</option>
      <option value="ADMIN">ADMIN</option>
    </select>
  </div>
  <button class="btn btn-success" (click)="createUser()" style="margin-top: 10px;" [disabled]="!newUser.name || !newUser.password || !newUser.rol">Agregar</button>
</div>

<div *ngIf="users.length > 0; else noProducts" style="padding-top: 70px;" class="lista">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Password</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr>
          <td>{{ user.id }}</td>
          <td><input [(ngModel)]="user.name" type="text" *ngIf="editingUserId === user.id; else viewName"></td>
          <td><input [(ngModel)]="user.password" type="password" *ngIf="editingUserId === user.id; else viewPassword"></td>
          <td><select [(ngModel)]="user.rol" type="text" *ngIf="editingUserId === user.id; else viewRol" required>
            <option value="VENDEDOR">VENDEDOR</option>
            <option value="BODEGUERO">BOGUERO</option>
            <option value="ADMIN">ADMIN</option>
          </select></td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editingUserId = user.id" *ngIf="editingUserId !== user.id">Editar</button>
            <button class="btn btn-success btn-sm" (click)="updateUser(user.id, user); editingUserId = null" *ngIf="editingUserId === user.id" [disabled]="!user.name || !user.password || !user.rol">Guardar</button>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)" style="margin-left: 5px;">Eliminar</button>
          </td>
        </tr>
        <ng-template #viewName><td>{{ user.name }}</td></ng-template>
        <ng-template #viewPassword><td>{{ user.password }}</td></ng-template>
        <ng-template #viewRol><td>{{ user.rol }}</td></ng-template>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #noProducts>
  <p>No hay usuarios disponibles.</p>
</ng-template>