<template>
    <div class="card-container">
      <div v-for="producto in productos" :key="producto.id" class="card" @click="seleccionarProducto(producto.id)">
        <div class="card-body">
          <img src="../assets/logo.png" class="imagenProd" alt="">
          <h5 class="card-title">{{ producto.name }}</h5>
          <p class="card-text">Categoria: {{ producto.categoria.name }}</p>
          <p class="card-text">Marca: {{ producto.marca }}</p>
          <p class="card-text">Stock: {{ producto.stock }}</p>
          <p class="card-text">
          Precio en CLP: {{
            (producto.precios[0].valor * valorDolar)
              .toLocaleString('es-ES', {
                style: 'currency',
                currency: 'CLP',
                minimumFractionDigits: 0,
                maximumFractionDigits: 0,
                useGrouping: true
              })
          }}
          </p>
          <button class="btn btn-success">Agregar</button>
        </div>
      </div>
    </div>
  </template>