.container .input-agregar{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}
.agregar{
    display: flex;
    margin: auto;
    margin-top: 10px;
}
